@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

section.normal {
    padding: 74px 0px 74px 30px;
}

section.imagem {
    background-position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ffffff;
}
p {
    font-family: "Sriracha", serif;
    font-size: 26px;
    font-weight: 53px;
    line-height: 53.928px;
}

h1 {
    font-family: "Passion One", serif;
    font-weight: bold;
    font-size: 77px;
}

